In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('student-por.csv')

In [3]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [12]:
data['sex'].value_counts()

sex
F    383
M    266
Name: count, dtype: int64

In [13]:
# Proportion of students sex
data['sex'].value_counts()/data.shape[0]

sex
F    0.590139
M    0.409861
Name: count, dtype: float64

In [24]:
categorical_columns  = data.dtypes[data.dtypes == 'object'].index

## Count , Proportion , Mode

In [46]:
for col in categorical_columns:
    print('Column :- ' , col)
    print(data[col].value_counts())
    print(f'Proportion of Each Category    ' , data[col].value_counts()/data[col].count() )
    # Mode is defined as the category having highest proportion 
    print(f'Mode of the column is :  ' , data[col].value_counts().index[0] )

Column :-  school
school
GP    423
MS    226
Name: count, dtype: int64
Proportion of Each Category     school
GP    0.651772
MS    0.348228
Name: count, dtype: float64
Mode of the column is :   GP
Column :-  sex
sex
F    383
M    266
Name: count, dtype: int64
Proportion of Each Category     sex
F    0.590139
M    0.409861
Name: count, dtype: float64
Mode of the column is :   F
Column :-  address
address
U    452
R    197
Name: count, dtype: int64
Proportion of Each Category     address
U    0.696456
R    0.303544
Name: count, dtype: float64
Mode of the column is :   U
Column :-  famsize
famsize
GT3    457
LE3    192
Name: count, dtype: int64
Proportion of Each Category     famsize
GT3    0.70416
LE3    0.29584
Name: count, dtype: float64
Mode of the column is :   GT3
Column :-  Pstatus
Pstatus
T    569
A     80
Name: count, dtype: int64
Proportion of Each Category     Pstatus
T    0.876733
A    0.123267
Name: count, dtype: float64
Mode of the column is :   T
Column :-  Mjob
Mjob
other       258
services    136
at_home     135
teacher      72
health       48
Name: count, dtype: int64
Proportion of Each Category     Mjob
other       0.397535
services    0.209553
at_home     0.208012
teacher     0.110940
health      0.073960
Name: count, dtype: float64
Mode of the column is :   other
Column :-  Fjob
Fjob
other       367
services    181
at_home      42
teacher      36
health       23
Name: count, dtype: int64
Proportion of Each Category     Fjob
other       0.565485
services    0.278891
at_home     0.064715
teacher     0.055470
health      0.035439
Name: count, dtype: float64
Mode of the column is :   other
Column :-  reason
reason
course        285
home          149
reputation    143
other          72
Name: count, dtype: int64
Proportion of Each Category     reason
course        0.439137
home          0.229584
reputation    0.220339
other         0.110940
Name: count, dtype: float64
Mode of the column is :   course
Column :-  guardian
guardian
mother    455
father    153
other      41
Name: count, dtype: int64
Proportion of Each Category     guardian
mother    0.701079
father    0.235747
other     0.063174
Name: count, dtype: float64
Mode of the column is :   mother
Column :-  schoolsup
schoolsup
no     581
yes     68
Name: count, dtype: int64
Proportion of Each Category     schoolsup
no     0.895223
yes    0.104777
Name: count, dtype: float64
Mode of the column is :   no
Column :-  famsup
famsup
yes    398
no     251
Name: count, dtype: int64
Proportion of Each Category     famsup
yes    0.613251
no     0.386749
Name: count, dtype: float64
Mode of the column is :   yes
Column :-  paid
paid
no     610
yes     39
Name: count, dtype: int64
Proportion of Each Category     paid
no     0.939908
yes    0.060092
Name: count, dtype: float64
Mode of the column is :   no
Column :-  activities
activities
no     334
yes    315
Name: count, dtype: int64
Proportion of Each Category     activities
no     0.514638
yes    0.485362
Name: count, dtype: float64
Mode of the column is :   no
Column :-  nursery
nursery
yes    521
no     128
Name: count, dtype: int64
Proportion of Each Category     nursery
yes    0.802773
no     0.197227
Name: count, dtype: float64
Mode of the column is :   yes
Column :-  higher
higher
yes    580
no      69
Name: count, dtype: int64
Proportion of Each Category     higher
yes    0.893683
no     0.106317
Name: count, dtype: float64
Mode of the column is :   yes
Column :-  internet
internet
yes    498
no     151
Name: count, dtype: int64
Proportion of Each Category     internet
yes    0.767334
no     0.232666
Name: count, dtype: float64
Mode of the column is :   yes
Column :-  romantic
romantic
no     410
yes    239
Name: count, dtype: int64
Proportion of Each Category     romantic
no     0.631741
yes    0.368259
Name: count, dtype: float64
Mode of the column is :   no

## Mean Median Mode

In [48]:
numerical_columns = data.dtypes[data.dtypes != 'object'].index

In [50]:
for col in numerical_columns:
    print('Column : ', col )
    print('Mean of the Column : ' , data[col].mean())
    print('Median of the column is : ',data[col].median())

Column :  age
Mean of the Column :  16.7442218798151
Median of the column is :  17.0
Column :  Medu
Mean of the Column :  2.514637904468413
Median of the column is :  2.0
Column :  Fedu
Mean of the Column :  2.3066255778120186
Median of the column is :  2.0
Column :  traveltime
Mean of the Column :  1.568567026194145
Median of the column is :  1.0
Column :  studytime
Mean of the Column :  1.9306625577812018
Median of the column is :  2.0
Column :  failures
Mean of the Column :  0.2218798151001541
Median of the column is :  0.0
Column :  famrel
Mean of the Column :  3.930662557781202
Median of the column is :  4.0
Column :  freetime
Mean of the Column :  3.180277349768875
Median of the column is :  3.0
Column :  goout
Mean of the Column :  3.184899845916795
Median of the column is :  3.0
Column :  Dalc
Mean of the Column :  1.50231124807396
Median of the column is :  1.0
Column :  Walc
Mean of the Column :  2.280431432973806
Median of the column is :  2.0
Column :  health
Mean of the Column :  3.536209553158706
Median of the column is :  4.0
Column :  absences
Mean of the Column :  3.6594761171032357
Median of the column is :  2.0
Column :  G1
Mean of the Column :  11.399075500770415
Median of the column is :  11.0
Column :  G2
Mean of the Column :  11.570107858243452
Median of the column is :  11.0
Column :  G3
Mean of the Column :  11.906009244992296
Median of the column is :  12.0

## Range , IQR , Variance , Standard Deviation , Coefficient of Variation , Z-Score , Skewness

In [63]:
for col in numerical_columns:
    print('Column : ', col)
    print('Range of the Column is  ' , data[col].max()-data[col].min())
    print('Inter Quantile Range of thge Column is  : ', data[col].quantile(0.75)-data[col].quantile(0.25))
    print('Variances of the Column is : ' , data[col].std()**2)
    print('Standard Deviation of thge Column is : ', data[col].std())
    print('Skewness of the Column is : ' , np.where(3*(data[col].mean()-data[col].median())/data[col].std()<0 , 'Left Skewed' , 'Right Skewed'))
    print('Coefficient of Variation of the Column is : ', data[col].std()/data[col].mean())

Column :  age
Range of the Column is   7
Inter Quantile Range of thge Column is  :  2.0
Variances of the Column is :  1.4838593087180663
Standard Deviation of thge Column is :  1.2181376394800656
Skewness of the Column is :  Left Skewed
Coefficient of Variation of the Column is :  0.07274973111461881
Column :  Medu
Range of the Column is   4
Inter Quantile Range of thge Column is  :  2.0
Variances of the Column is :  1.2872082405980712
Standard Deviation of thge Column is :  1.134551999953317
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  0.4511790735108472
Column :  Fedu
Range of the Column is   4
Inter Quantile Range of thge Column is  :  2.0
Variances of the Column is :  1.2098480092830373
Standard Deviation of thge Column is :  1.099930911140803
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  0.4768571551973154
Column :  traveltime
Range of the Column is   3
Inter Quantile Range of thge Column is  :  1.0
Variances of the Column is :  0.5604919248987044
Standard Deviation of thge Column is :  0.7486600863534161
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  0.4772891906123448
Column :  studytime
Range of the Column is   3
Inter Quantile Range of thge Column is  :  1.0
Variances of the Column is :  0.6880861344138179
Standard Deviation of thge Column is :  0.829509574636615
Skewness of the Column is :  Left Skewed
Coefficient of Variation of the Column is :  0.4296502106457807
Column :  failures
Range of the Column is   3
Inter Quantile Range of thge Column is  :  0.0
Variances of the Column is :  0.35192794232342256
Standard Deviation of thge Column is :  0.5932351492649627
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  2.6736778602288944
Column :  famrel
Range of the Column is   4
Inter Quantile Range of thge Column is  :  1.0
Variances of the Column is :  0.9133947763891266
Standard Deviation of thge Column is :  0.9557168913381863
Skewness of the Column is :  Left Skewed
Coefficient of Variation of the Column is :  0.24314396804330962
Column :  freetime
Range of the Column is   4
Inter Quantile Range of thge Column is  :  1.0
Variances of the Column is :  1.1047956019707432
Standard Deviation of thge Column is :  1.051092575357063
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  0.33050343091411527
Column :  goout
Range of the Column is   4
Inter Quantile Range of thge Column is  :  2.0
Variances of the Column is :  1.382425954459853
Standard Deviation of thge Column is :  1.175766113842312
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  0.3691689443075281
Column :  Dalc
Range of the Column is   4
Inter Quantile Range of thge Column is  :  1.0
Variances of the Column is :  0.8553187239627917
Standard Deviation of thge Column is :  0.9248344305673268
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  0.6156077389109693
Column :  Walc
Range of the Column is   4
Inter Quantile Range of thge Column is  :  2.0
Variances of the Column is :  1.649631912343777
Standard Deviation of thge Column is :  1.2843799719490245
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  0.5632179741857547
Column :  health
Range of the Column is   4
Inter Quantile Range of thge Column is  :  3.0
Variances of the Column is :  2.0916652399703244
Standard Deviation of thge Column is :  1.4462590500910701
Skewness of the Column is :  Left Skewed
Coefficient of Variation of the Column is :  0.40898567473163594
Column :  absences
Range of the Column is   32
Inter Quantile Range of thge Column is  :  6.0
Variances of the Column is :  21.53664231771576
Standard Deviation of thge Column is :  4.640758808397153
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  1.2681484070104219
Column :  G1
Range of the Column is   19
Inter Quantile Range of thge Column is  :  3.0
Variances of the Column is :  7.536480625463676
Standard Deviation of thge Column is :  2.745265128446372
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  0.24083226120055362
Column :  G2
Range of the Column is   19
Inter Quantile Range of thge Column is  :  3.0
Variances of the Column is :  8.489290266126423
Standard Deviation of thge Column is :  2.913638664303867
Skewness of the Column is :  Right Skewed
Coefficient of Variation of the Column is :  0.251824676139727
Column :  G3
Range of the Column is   19
Inter Quantile Range of thge Column is  :  4.0
Variances of the Column is :  10.43713975917366
Standard Deviation of thge Column is :  3.230656242804805
Skewness of the Column is :  Left Skewed
Coefficient of Variation of the Column is :  0.2713466936172277

#### Skewness is defined as follows : 

    Left Skewed (or) Negitively Skewed :  if mean < median < mode 

    Symmetric : Mean = Median = Mode

    Right Skewed (or) Positively Skewed : if mean > median > mode 

##### From above we came to know that skewness is dependent on the relative positions of mean and median if mean < median {Left Skewed} or mean > Medoan {Right Skewed}

#### Calculation of Skewness

Criteria - 1 : 
        
        Pearson's Coefficient of Skewness : 
                            sk = 3(mean - median)/standardDeviation
Criteria - 2 :      
  
        Bowley's Coefficient of Skewness :
                            sk = ((Q3-Q2)-(Q2-Q1))/((Q3-Q2)+(Q2-Q1))